* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Edu TAS Beginner", sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
}

.header-title {
  background: url("../../assets/img/wall.png");
  background-size: cover;
}

.container {
  max-width: 1000px;
}

.card p {
  font-family: ‘Sometype Mono’, ‘monospace’;
  font-size: 15px;
}

.pin {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-big {
  max-width: 1600px;
  background: url("../../assets/img/cork.png");
}

.data {
  font-family: ‘Sometype Mono’, ‘monospace’;
}

/* RENDO TITOLO PIU' PICCOLO QUANDO RAGGIUNGE LE DIMENSIONI DELLO SMATPHONE */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

/* OVERLAY  */
#overlay {
  /* rimane sempre visibile anche se scorri la pagina */
  position: fixed;
  /* Posiziona l’elemento all’inizio (in alto) della finestra */
  top: 0;
  /* Posiziona l’elemento all’inizio (a sinistra) della finestra */
  left: 0;
  /* Larghezza dell’elemento: 100% della larghezza della finestra viewport */
  width: 100vw;
  /* Altezza dell’elemento: 100% dell’altezza della finestra viewport */
  height: 100vh;
  /* Colore di sfondo nero con trasparenza (opacity 80%) per fare un overlay scuro */
  background-color: rgba(0, 0, 0, 0.8);
  /* Livello di sovrapposizione: 1, significa che sarà sopra elementi con z-index più basso o senza z-index */
  z-index: 1;
}

.card-image {
  cursor: pointer;
}

/* 
  Imposto un limite massimo alla larghezza e all'altezza dell'immagine per evitare che superi le dimensioni desiderate (600x600 pixel).
*/
.overlay-image {
  max-width: 600px;
  max-height: 600px;
}


/* BONUS */
/* Imposto una transizione fluida e cursore pointer sulla card */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Imposto uno zoom, una rotazione e un'ombra al passaggio del mouse */
.card:hover {
  transform: scale(1.1) rotate(10deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}



