* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Edu TAS Beginner", sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
}

.header-title {
  background: url("../../assets/img/wall.png");
  background-size: cover;
}

.container{
  max-width: 1000px;
}

.card p {
  font-family: ‘Sometype Mono’, ‘monospace’;
}

.pin {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-big {
    max-width: 1600px;
    background: url('../../assets/img/cork.png');
}
